@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hero Animations */
@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

@keyframes shine-infinite {
    0% {
        left: -100%;
        opacity: 0;
    }

    50% {
        left: -100%;
        opacity: 0;
    }

    55% {
        left: -100%;
        opacity: 1;
    }

    65% {
        left: 200%;
        opacity: 0;
    }

    100% {
        left: 200%;
        opacity: 0;
    }
}

.shine-wrapper {
    position: relative;
    overflow: hidden;
}

.shine-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.4), transparent);
    transform: skewX(-20deg);
    animation: shine-infinite 4s infinite;
    pointer-events: none;
}

/* Phone Mockup */
.perspective-1000 {
    perspective: 1000px;
}

.transform-style-3d {
    transform-style: preserve-3d;
}

@keyframes float-rotate {

    0%,
    100% {
        transform: translateY(0) rotateY(-12deg) rotateX(5deg);
    }

    50% {
        transform: translateY(-15px) rotateY(12deg) rotateX(-5deg);
    }
}

.animate-phone {
    animation: float-rotate 8s ease-in-out infinite;
}


/* Phone Buttons */
.phone-btn {
    position: absolute;
    background: #2a2a2a;
    border-radius: 2px 0 0 2px;
    box-shadow: inset -1px 0 2px rgba(0, 0, 0, 0.5);
}

.phone-btn-left {
    left: -4px;
}

.phone-btn-right {
    right: -4px;
    border-radius: 0 2px 2px 0;
    box-shadow: inset 1px 0 2px rgba(0, 0, 0, 0.5);
}

.btn-volume-up {
    top: 100px;
    width: 4px;
    height: 24px;
}

.btn-volume-down {
    top: 134px;
    width: 4px;
    height: 24px;
}

.btn-action {
    top: 70px;
    width: 4px;
    height: 16px;
}

.btn-power {
    top: 110px;
    width: 4px;
    height: 36px;
}