/* Импорт Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Inter:wght@400;500;600&display=swap');

/* CSS-переменные */
:root {
    --primary-color: #5fb856;
    --text-main: #333;
    --font-heading: 'Oswald', sans-serif;
    --font-body: 'Inter', sans-serif;
    --bg-color: #F3F5F6;
}

body {
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-color);
    color: var(--text-main);
}

.font-oswald {
    font-family: var(--font-heading);
}